# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Environment variables
.env

# IDE / OS
.vscode/
.idea/
.DS_Store

# Local application data
experiments/
experiments/test-audio/
experiments/**/.venv/
data/